<!DOCTYPE html>
<div layout="column">
	<md-toolbar class="site-content-toolbar md-whiteframe-glow-z2">
	    <div class="md-toolbar-tools">
	        <md-button class="md-icon-button md-toolbar-item" aria-label="Settings" ng-click="toggleLeft()">
	            <md-icon md-svg-src="svg/ic_menu_white_24px.svg"></md-icon>
	        </md-button>
			<div layout="row" layout-align="center center">
				<a href="#/comm_safety"><h1 class="md-toolbar-item">Community Safety</h1></a>
				<md-icon md-svg-icon="svg/ic_chevron_right_white_24px.svg" style="color: inherit" aria-hidden="true"></md-icon>
				<a href="#/complaint"><h1 class="md-toolbar-item">File Complaint</h1></a>
			</div>
	        <span flex></span>
	    </div>
	</md-toolbar>

	<md-content flex layout-padding>
		<form name="new_complaint" layout="column">
			<md-input-container style="margin: 0">
				<label>Complaint Description</label>
				<textarea ng-model="description" name="discription" required ng-maxlength="500"/>
			</md-input-container>
			<md-divider></md-divider>

			 <md-input-container>
	          <label>Police Stations</label>
		        <md-select ng-model="userStation" required>
		            <md-option><em>None</em></md-option>
		            <md-option ng-repeat="station in stations" ng-value="station.ID">
		              	{{station.Name}}
		            </md-option>
		        </md-select>
	        </md-input-container>

			<md-input-container style="margin: 0">
				<label>Police Officer Involved</label>
				<textarea type="text" ng-model="police_officer" flex></textarea>
			</md-input-container>

			<md-button class="md-raised md-primary login" ng-click="submit()" ng-disabled="new_complaint.$invalid">
				<span style="margin-right: 1em">Submit</span>
				<md-icon md-svg-src="svg/ic_send_white_24px.svg"></md-icon>
			</md-button>
		</form>
	</md-content>
</div>