<!DOCTYPE html>
<div layout="column">
	<md-toolbar class="site-content-toolbar md-whiteframe-glow-z2">
	    <div class="md-toolbar-tools">
			<div layout="row" layout-align="center center">
				<a show-gt-xs href="#/"><h1 class="md-toolbar-item">Home</h1></a>
				<md-icon show-gt-xs md-svg-icon="svg/ic_chevron_right_white_24px.svg" style="color: inherit" aria-hidden="true"></md-icon>
				<a href="#/form"><h1 class="md-toolbar-item">Forms</h1></a>
			</div>
	        <span flex></span>
			<md-button class="md-icon-button md-toolbar-item" aria-label="Account" ng-click="toggleAccount()">
				<md-icon md-svg-src="svg/ic_account_circle_white_24px.svg"></md-icon>
			</md-button>
	    </div>
	</md-toolbar>

	<md-content>
	    <md-list>
	        <md-list-item class="md-3-line">
	        	<div class="md-list-item-text">
	          		<h3>Social Work Scholarship</h3>
	          		<h4>Dept. of Social Affairs</h4>
	        	</div>
	        	<md-button class="md-secondary" href="#/scholarship">Apply</md-button>
	        	<md-divider ng-if="!$last"></md-divider>
	      	</md-list-item>
	      	<md-list-item class="md-3-line">
	        	<div class="md-list-item-text">
	          		<h3>Example Form</h3>
	          		<h4>Example Department</h4>
	        	</div>
	        	<md-button class="md-secondary">Apply</md-button>
	        	<md-divider ng-if="!$last"></md-divider>
	      	</md-list-item>
	    </md-list>
	</md-content>
</div>
