<!DOCTYPE html>
<md-toolbar class="site-content-toolbar md-whiteframe-glow-z2">
    <div class="md-toolbar-tools">
		<a hide show-gt-xs href="#/"><h1 class="md-toolbar-item">Home</h1></a>
		<md-icon hide show-gt-xs md-svg-icon="svg/ic_chevron_right_white_24px.svg" style="color: inherit" aria-hidden="true"></md-icon>
		<a href="#/comm_safety"><h1 class="md-toolbar-item">Comm. Safety</h1></a>
		<md-icon md-svg-icon="svg/ic_chevron_right_white_24px.svg" style="color: inherit" aria-hidden="true"></md-icon>
		<a href="#/my_applications"><h1 class="md-toolbar-item">Report Incident</h1></a>
        <span flex></span>
		<md-button class="md-icon-button md-toolbar-item" aria-label="Account" ng-click="toggleAccount()">
			<md-icon md-svg-src="svg/ic_account_circle_white_24px.svg"></md-icon>
		</md-button>
    </div>
</md-toolbar>

<md-content flex layout-padding>
    <div layout="column" layout-align="space-between">
        <div layout="column" layout-wrap>
            <div ng-include="'address.html'"></div>
        </div>
        <div layout="column" layout-wrap>
            <h2>Select a location
            <md-button class="md-raised" aria-label="Current Location" ng-click="get_my_loc()" style="margin-left: auto; margin-right: 0.5rem">
                Get Location
            </md-button>
            <md-button class="md-raised" href="" aria-label="Submit" ng-click="null" style="max-width: 200px; margin-right: auto" >
                Submit
            </md-button>
            </h2>
            <div flex aria-label="map for select location" style="height: 100vw">
                <div id="map" ng-click="map.addListener()" style="height: 90%; width: 90%; padding: 0; margin: auto"></div>
                <script type="text/javascript" >
                    console.log("draw_map");
                      draw_map();
                </script>
            </div>
        </div>
    </div>
</md-content>
