<!DOCTYPE html>
<md-dialog aria-label="Jobs info">
	<form ng-cloak>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Job Information</h2>
				<span flex></span>
				<md-button class="md-icon-button md-toolbar-item" ng-click="cancel()">
					<md-icon aria-label="Close dialog" md-svg-src="svg/ic_close_white_24px.svg"></md-icon>
				</md-button>
			</div>
		</md-toolbar>

		<md-dialog-content>
			<div class="md-dialog-content" layout="column">
				<div layout="row">
					<span flex></span>
					<span class="badge deep-orange" ng-show="{{job_info.recruiter === 'recruting_agency'}}">Recruiting Agency</span>
					<span class="badge blue" ng-show="{{job_info.recruiter === 'comercial'}}">Commercial</span>
					<span class="badge amber" ng-show="{{job_info.recruiter === 'private'}}">Private</span>
				</div>
					<h1 style="margin: 0">{{job_info.title}}</h1>
					<div layout="column" layout.align="start start" flex>
						<p layout="row" class="jobs-text" style="margin-right: auto">
							<md-icon md-svg-src="svg/ic_location_city_black_24px.svg"></md-icon>
							{{job_info.company}}
						</p>
						<p layout="row" class="jobs-text" style="margin-right: auto">
							<md-icon md-svg-src="svg/ic_place_black_24px.svg"></md-icon>
							{{job_info.location}}
						</p>
						<p layout="row" class="jobs-text" style="margin-right: auto">
							<md-icon md-svg-src="svg/ic_access_time_black_24px.svg"></md-icon>
							{{job_info.created}}
						</p>
					</div>
					<h3 style="margin: 1rem 0">Discription</h3>
				<p>
					{{job_info.description}}
				</p>
			</div>
		</md-dialog-content>

		<md-dialog-actions layout="row">
			<span flex></span>
			<md-button ng-click="cancel()">
				Cancel
			</md-button>
			<md-button ng-click="apply()">
				Apply
			</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>