<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" name="viewport" content="initial-scale=1">
		<link rel="stylesheet" href="material/roboto.css">
		<link rel="stylesheet" href="material/angular-material.min.css">
		<link rel="stylesheet" href="styles/styles.css">
		<title>New</title>
	</head>
	<body ng-controller="jobs__" ng-app="jobs" ng-cloak>

		<md-toolbar class="site-content-toolbar md-whiteframe-glow-z2">
			<div class="md-toolbar-tools">
				<md-button class="md-icon-button md-toolbar-item" aria-label="Settings" ng-click="toggleLeft()" hide-gt-md>
					<md-icon md-svg-src="svg/ic_menu_white_24px.svg"></md-icon>
				</md-button>
				<h2 class="md-toolbar-item">Jobs</h2>
				<span flex></span>
			</div>
		</md-toolbar>

		<md-section layout="row" flex>
			<md-sidenav
				class="md-sidenav-left"
				md-component-id="left"
				md-is-locked-open="$mdMedia('gt-md')"
				md-whiteframe="4">

				<md-toolbar class=" site-content-toolbar">
					<div class="md-toolbar-tools">
						<md-button class="md-icon-button md-toolbar-item" aria-label="Settings" ng-click="toggleLeft()" hide-gt-md>
							<md-icon md-svg-src="svg/ic_menu_white_24px.svg"></md-icon>
						</md-button>
						<h2 class="md-toolbar-item">Options</h2>
						<span flex></span>
					</div>
				</md-toolbar>

				<md-content layout-padding >
					<div ng-include="'login.html'"></div>

					<p>
						Here be words and buttons to give yee options
					</p>
				</md-content>
			</md-sidenav>

			<md-content flex layout-padding>
				<md-list flex>
					<md-list-item class="jobs-item" md-whiteframe="2" ng-repeat="job in jobListings" ng-click="showInfo($event, job.id)">
						<div layout="column" layout-align="space-around" flex>
							<div flex layout="row" layout-align="space-between center">
								<h2 class="jobs-text">{{job.title}}</h2>
								<span class="badge" ng-hide="job.recruiter"></span>
							</div>
							<div layout="row" layout-wrap layout-align="space-between center" flex>
								<p layout="row" layout-align="begin" class="jobs-text">
									<md-icon md-svg-src="svg/ic_location_city_black_24px.svg"></md-icon>
									{{job.company}}
								</p>
								<p layout="row" layout-align="center" class="jobs-text">
									<md-icon md-svg-src="svg/ic_place_black_24px.svg"></md-icon>
									{{job.location}}
								</p>
								<p layout="row" layout-align="end" class="jobs-text">
									<md-icon md-svg-src="svg/ic_access_time_black_24px.svg"></md-icon>
									{{job.created}}
								</p>
							</div>
						</div>
					</md-list-item>
				</md-list>
			</md-content>
		</md-section>

		<script src="material/angular.min.js"></script>
		<script src="material/angular-animate.min.js"></script>
		<script src="material/angular-aria.min.js"></script>
		<script src="material/angular-messages.min.js"></script>
		<script src="material/angular-material.min.js"></script>
		<script src="scripts/jobs.js"></script>
	</body>
</html>