a, a:link, a:visited, a:hover {
    color: inherit;
}

.buttons {
    margin: 0 auto;
    height: 100%;
}

.big-button {
    position: relative;
    min-width: 150px;
    max-width: 250px;
    min-height: 150px;
    max-height: 250px;
    border-radius: 10px;
    margin: 0.5rem;
}

.red {
    background-color: #F44336;
}

.orange {
    background-color: #FF9800;
}

.deep-orange {
	background-color:	#FF5722;
}

.green {
    background-color: #4CAF50;
}

.blue {
    background-color: #2196F3;
}

.background-image {
    display: block;
    margin: auto;
    width: 80%;
}

.footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: center;
    padding-bottom: 0.25rem;
}

.badge {
    margin: auto 0;
    min-width: 1rem;
    min-height: 1rem;
    padding: 0 0.5rem;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 300;
    color: #fff;
    background-color: #26a69a;
    border-radius: 5px;
}

.new-account {
    font-size: 0.8rem;
    margin-left: auto;
}

.login {
    margin-left: auto;
    padding: 0 1rem;
}

.docs-menu-separator-icon {
    margin: 0;
}

.docs-menu-separator-icon img {
    height: 16px;
}

.md-breadcrumb {
    font-size: 24px;
    font-weight: 400;
}

.md-breadcrumb-page {
    display: inline-block;
    word-wrap: break-word;
}

.right {
	margin-right: 24px;
}