a {
	color:	#000;
}
a:visited {
	color:	#000;
}
a:hover {
	color:	#000;
}
a:active {
	color:	#000;
}

.buttons {
	margin:		0 auto;
	height:		100%;
}

.big-button {
	position:		relative;
	min-width:		150px;
	max-width:		250px;
	min-height:		150px;
	max-height:		250px;
	border-radius:	10px;
	margin:			0.5rem;
}

.red {
	background-color:	#F44336;
}

.orange {
	background-color:	#FF9800;
}

.green {
	background-color:	#4CAF50;
}

.blue {
	background-color:	#2196F3;
}

.background-image {
	display:	block;
	margin:		auto;
	width:		80%;
}

.footer {
	position:		absolute;
	width:			100%;
	bottom:			0;
	left:			0;
	text-align:		center;
	padding-bottom:	0.25rem;
}

.badge {
	margin:				auto 0;
	min-width:			1rem;
	min-height: 		1rem;
	padding:			0 0.5rem;
	text-align:			center;
	font-size:			0.8rem;
    font-weight:		300;
    color:				#fff;
    background-color:	#26a69a;
    border-radius:		5px;
}

.new-account {
	font-size: 0.8rem;
	margin-left: auto;
}

.login {
	margin-left: auto;
	padding: 0 1rem;
<<<<<<< HEAD
=======
}

.map-buttons {
	margin-top: 15px;
>>>>>>> f0e6a4ec9b54cba2b925de20be79fc310b2184a1
}